


/* background-image: url('../../../../../assets/imges/newww//artist5.jpeg'); */


/* From Uiverse.io by alexruix */ 
.card {
    --background: linear-gradient(to left, #105307 0%, #9efab8 100%);
    width: 350px;
    height: 500px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    /* background: #f7ba2b; */
    background: var(--background);
    position: relative;
    z-index: 1;    
   }
   
   .card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
    
   }
   
   .card-info {
    /* --color: #181818; */
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
    background-image: url('../../../../../assets/imges/newww//artist5.jpeg');
   }
   
   .card .title {
    font-weight: bold;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   .card:hover::after {
    opacity: 0;
   }
   
   .card:hover .card-info {
    color: #ffffff;
    transition: color 1s;
    font-size: 35px;
   }
   
